name: documentation
on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup gradle
        uses: gradle/gradle-build-action@v2
      - name: Build gradle
        uses: ./gradlew build

      - name: Test de java
        run: ./gradlew test

